<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/members/new}" method="post">
        <div class="form-group">
            <label for="username">username</label>
            <input type="text" id="username" name="username" placeholder="username">
            <label for="password">password</label>
            <input type="password" id="password" name="password" placeholder="password">
        </div>
        <button type="submit">Sing up</button>
    </form>
</div> <!-- /container -->
<a href="/">home</a>
</body>
</html>