<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <form method="GET" th:action = "@{/members}">
            <div class="member-search">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon1">검색</button>
                <input type="text" class="form-control" id="searchText" name="searchText" placeholder="이름을 입력하세요"
                       aria-label="Example text with button addon" aria-describedby="button-addon1">
            </div>
        </form>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.id}"></td>
                <td th:text="${member.username}"></td>
            </tr>
            </tbody>
        </table>

    </div>
    <a href="/">home</a>
</div> <!-- /container -->
</body>
</html>